<!-- À propos Début -->
<div class="container-xxl py-6" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-5">
                    <div class="years flex-shrink-0 text-center me-4">
                        <h1 class="display-1 mb-0">1</h1>
                        <h5 class="mb-0">Années</h5>
                    </div>
                    <h3 class="lh-base mb-0">d'expérience en développement mobile et web</h3>
                </div>
                <p class="mb-4">👋 <strong>À propos de moi</strong><br>
                Développeur mobile et web passionné, je conçois des applications utiles et ancrées dans la réalité, avec une attention particulière pour les besoins locaux.
                Avec plusieurs projets à mon actif, notamment dans le domaine du transport au Burkina Faso, je combine créativité, rigueur et autonomie pour livrer des solutions performantes.
                Toujours curieux et en quête de perfectionnement, je m’efforce d’allier technologie et impact concret.</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Solutions utiles et adaptées</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Développement mobile et web</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Focus sur les besoins locaux</p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-3 mb-4">
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="img/about-1.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="img/about-2.jpg" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <h5 class="border-end pe-3 me-3 mb-0">Clients satisfaits</h5>
                    <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1234</h2>
                </div>
                <p class="mb-4">Je m’engage à offrir des solutions fiables et adaptées, répondant aux exigences des utilisateurs avec efficacité.</p>
                <div class="d-flex align-items-center mb-3">
                    <h5 class="border-end pe-3 me-3 mb-0">Projets réalisés</h5>
                    <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1234</h2>
                </div>
                <p class="mb-0">Chacun de mes projets vise à avoir un impact concret, notamment dans des domaines comme la mobilité, la logistique ou les services de proximité.</p>
            </div>
        </div>
    </div>
</div>
<!-- À propos Fin -->
